p,ul{
    font-size:20px;
}

p,h1,h2,ul{
	color:#171717;
    font-family:verdana;
}

.margin40px{
    margin-left: 40px;
}

.title{
    text-decoration: none;
    color:black;
    font-family: Arial Black;
    font-size: 40px;
}

#buttons{
    height: 70px;
    /*width: 1500px;*/
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: url(../imagens/mountain.jpg) 90% 84.3% no-repeat;
    border-radius: 5px;
}

.menu{
    margin-top: 15px;
    margin-bottom: 5px;
}

#home a{
    text-decoration:none;
}

#resume,#skills {
    text-decoration:none;
    font-family:verdana;
    font-size: 20px;
    font-weight: bold;
    color:#17696d;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

#resume:hover,#skills:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transition:0.4s;
}

h2{
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: table;
    transition: 0.3s;
}

h2:hover{
    background-color: rgba(255, 255, 255, 1);
}

.container1 {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    border: 2px solid #FCAB26;
    background-color: rgb(230, 230, 230,0.75);
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 10px;
    width: auto;
    display: inline-block;
     max-width: 1500px;
    transition: 0.4s;
}

.container1:hover{
    background-color: rgb(230, 230, 230,1);
}

div ul{
    padding-left: 10px;
}

#home{
    background-image: url(../imagens/mountain.jpg);
}

.buttons_imgs{
    position:relative;
    margin: 15px;
    margin-left: 10px;
    margin-right: 50px;
    float: left;
}

.buttons_imgs img{
    position: absolute;
    left:10;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.buttons_imgs img.top:hover{
    opacity:0;
}